#MyRegSection{
	width: 100%;
	min-width: 390px;
	min-height: 100px;
	border: 3px solid black;
	margin-top: 2%;
	
	/*закругляем края для блкока*/
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#MyRegTable{
	width: 100%;
	margin-top: 0px;
}

#FirstVisit{
	font-size: medium;
	color: black;
	font-weight: bolder;
	float: right;
}

#FirstVisitConnect{
font-size: large;

}

.MyRegClass{
	font-size: large;
	width: 100%;
	
	border: solid 1px;
	
	/*чтобы инпут не вылезал за поля*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	/*закругляем края для блкока*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#MyRegButton{
	font-size: large;
	width: 100%;
	border: solid 1px black;
	
	/*круглые края для кнопки*/
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}